body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 40px
}

.box-container {
	grid-gap: 1px;
	border: 1px solid black;
	background-color: white;
}

.stop-color {
	background-color: #DCDCDC !important;
}

.complete-color {
	background-color: #9c0000 !important;
}

.leg-color {
	background-color: pink !important;
}

.box {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.grid-container {
	display: flex;
	flex-direction: unset;
	position: relative;
}

.grid {
	display: grid;
	border: 1px solid black;
	grid-gap: 1px;
	background-color: black;
	grid-template-rows: repeat(200, 10px);
	grid-template-columns: repeat(200, 10px);
}

.truck::before {
	content: '\25CF';
	color: var(--driver-color);
	font-size: 10px;
	position: relative;
}

.truck {
	position: absolute;
	bottom: 0;
	z-index: 2;
}

.stop-marker:before {
	content: '\25CF';
	color: blue;
	font-size: 10px;
}

.stop-marker {
	position: absolute;
	bottom: 0;
}

.button.disabled {
	background-color: rgba(0, 0, 0, 0.12);
	color: rgba(0, 0, 0, 0.12);
}

.button {
	max-height: 40px;
}

.button span {
	pointer-events: none !important;
}

.button span svg {
	pointer-events: none !important;
}

[type="button"] span {
	pointer-events: none !important;
}

[type="button"] span svg {
	pointer-events: none !important;
}

.secondary-button {
	margin-left: auto !important;
}

.color-controls {
	margin-left: 15px;
}

[data-number="2"] {
	margin-right: auto !important;
}

[name="driver-dropdown"] {
	display: flex;
}

/* ICON position and hover */
.MuiTabs-flexContainer-39 .MuiButtonBase-root-59.MuiTab-root-47 {
	position: relative;
}

.MuiButtonBase-root-59.MuiTab-root-47 .material-icons.MuiIcon-root-65 {
	transition: color 0.2s ease;
}

.MuiButtonBase-root-59.MuiTab-root-47:hover .material-icons.MuiIcon-root-65 {
	color: #DCDCDC !important;
	transition: color 0.5s ease;
}